<!DOCTYPE html>
<html>
<head>
	<title>Grid</title>
	<style>
		.container
		{
			border: 5px solid black;

		}
		.grid-item
		{
			text-align: center;

		}
		.item1
		{
			background-color: green;
		}
		.item2
		{
			background-color: blue;
		}
		.item3
		{
			background-color: yellow;
		}
		.item4
		{
			background-color: deeppink;
		}
		.item5
		{
			background-color: purple;
		}
		.item6
		{
			background-color: sandybrown;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="grid-item item1">item1</div>
		<div class="grid-item item2">item2</div>
		<div class="grid-item item3">item3</div>
		<div class="grid-item item4">item4</div>
		<div class="grid-item item5">item5</div>
		<div class="grid-item item6">item6</div>

	</div>

</body>
</html>